/* Console Background */
.console,
.exconsole,
.starterConsole,
.tskconsole {
	background-color: #333;
}

/* Cell Styling */
.cCell {
	color: #000;
}

.status-cell {
	padding: 0 3px 0 3px;
	border: 0;
}

/* Meters */
#meter-disk-value,
#qmeter-band-value,
#qmeter-disk-value {
	background-color: #6c7a89;
	border: 1px solid transparent;
	border-radius: 12px;
	float: left;
}

#meter-band-text,
#meter-disk-text,
#qmeter-disk-text {
	color: #fff;
	text-shadow: 0 0 2px #000;
	position: relative;
	text-align: left;
	float: left;
	left: 40%;
	font-size: 11px;
	font-family: inherit;
	z-index: 1;
}

/* Meter Holders */
#meter-band-holder,
#meter-disk-holder,
#qmeter-disk-holder {
	/* background: url(images/status_icons.png) no-repeat 3px -336px; */
	height: 16px;
	line-height: 16px;
	width: 100px;
	border: 0;
	display: flex;
	padding-right: 12px;
}

#meter-cpu-text {
	position: absolute;
	left: 45px;
	top: 0;
	color: #fff;
	text-shadow: 0 0 2px #000;
	font-size: 11px;
	font-family: inherit;
}

#meter-cpu-holder {
	height: 16px;
	line-height: 16px;
	padding-left: 25px;
	width: 100px;
}

#meter-cpu-td {
	background: url('images/status_icons.png') no-repeat 3px -320px !important;
	height: 16px;
	line-height: 18px;
}

.meter-value {
	background-color: #1e824c !important;
}

/* Graph Tab Styling */
div.graph_tab {
	color: #282828;
	border-color: #000;
}

/* Textbox Focus */
.lf li input.TextboxFocus {
	background-color: transparent;
	color: #009ddd;
}

/* Custom Cell Colors */
.cCell {
	color: #333;
}

/* Cell Background Colors */
.Cell0 {
	background-color: #fffdf0;
	border: 1px dotted #888;
}

.Cell1 {
	background-color: #7eb400;
}

.Cell2 {
	background-color: #75a602;
}

.Cell3 {
	background-color: #6d9a02;
}

.Cell4 {
	background-color: #628c02;
}

.Cell5 {
	background-color: #5b8101;
}

.Cell6 {
	background-color: #527501;
}

.Cell7 {
	background-color: #4a6801;
}

.Cell8 {
	background-color: #435f01;
}

.Cell9 {
	background-color: #3b5401;
}

.CellA {
	background-color: #c1c3c3;
}

.CellB {
	background-color: #999a9a;
}

.CellC {
	background-color: #767776;
}

.CellD {
	background-color: #6b6c6b;
}

.CellE {
	background-color: #60605e;
}

.CellF {
	background-color: #000;
	color: #fff;
}

/* Support Text */
#tCellNotSupported {
	text-align: center;
}

#tRowNotSupported {
	vertical-align: middle;
	color: red;
}

/* AutoDL Toolbar */
#autodl-tb {
	background: transparent url('/images/autodll-irc1.png') no-repeat center;
}

#autodl-tb:hover {
	background: transparent url('/images/autodll-irc2.png') no-repeat center;
}

#autodl-multiselect-header {
	background-image: url('/images/dlg-autodl-irc.gif');
}

/* Go Button */
#go {
	background: transparent url('images/toolbar.png') no-repeat -456px 0;
}

#go:hover {
	background: transparent url('images/toolbar.png') no-repeat -456px -24px;
}

/* Listbox Styling */
.listbox {
	background-color: #000;
	border: 1px solid #333;
	color: green;
	font-family: Courier;
	overflow: auto;
	white-space: nowrap;
}

.listboxItem {
	color: #ccc;
	padding: 1px 2px;
}

.listboxItem:hover {
	background-color: #222;
}

.listboxItemSelected {
	background-color: #333;
	color: #ccc;
}

/* RSS URL Rewrite */
.lf_rur {
	background-color: #222;
	border: 1px solid #333;
	border-radius: 3px;
	flex: 1 0 160px;
	overflow-y: auto;
}

.lf_rur input.TextboxFocus {
	background-color: #222;
}

.lf_rur input.TextboxNormal {
	background-color: #212121;
}

/*AutoDL Filters*/
div#autodl-filters {
	width: auto;
	height: auto;
}

#autodl-filters-left {
	/* margin: 0 5px 10px 5px; */
	float: left;
	min-height: max-content;
	padding: 0 0 65px 0;
	vertical-align: top;
	display: flow;
}

div#autodl-filters-right {
	display: inline-flex;
	float: right;
}

div#autodl-filters-tabs {
	display: inline-block;
	width: 150px;
}

div#autodl-filters-contents {
	display: inline-block;
	width: 95%;
	padding-bottom: 9%;
}

.aright.buttons-list.dialog-buttons {
	/* position: relative; */
	padding: 5px 30px;
	display: inline-flex;
	background: #222;
	width: 100%;
	margin-bottom: 0;
	margin-right: 0;
	height: auto;
	clear: both;
	float: left;
	border: 1px solid #333;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

div#autodl-filters-contents-wol {
	display: inline-flex;
	width: 300px;
	max-width: 400px;
}

/* AutoDL IRC Servers */
div#autodl-ircsrvs {
	height: fit-content;
}

fieldset#autodl-ircsrvs-servers-fieldset {
	border: 1px solid #333;
	border-radius: 6px;
	margin: 3px 12px;
	padding: 3px 9px;
}

fieldset#autodl-ircsrvs-channels-fieldset {
	margin: 3px 12px 65px 12px;
	padding: 3px 9px;
}

/* AutoDL Prefs */
#autodl-prefs {
	width: 500px;
	height: auto;
}

#autodl-prefs-tabs {
	margin: 5px 2px;
	padding: 0 0 65px 0;
	display: inline-flex;
}

#autodl-prefs-contents {
	margin: 3px 5px 65px 5px;
	padding: 0 0 65px 0;
	display: inline-flex;
}

/* AutoDL Help */

#autodl-help {
	height: auto;
}

#autodl-help:not(.dlg-window) {
	width: 250px;
	height: auto;
	padding: 15px 15px 15px 0;
}

/*Logoff */

div#logoff {
	background-image: url(images/logoff.png)
}

div#logoff:hover {
	background-image: url(images/logoff3.png)
}

div#logoffDlg div.dlg-header {
	background-image: url(images/logoff2.png)
}